@import
"reset",
"mixin";

html{
  font-size: 10px!important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.v-application ol, .v-application ul {
  padding-left: 0;
}
.v-treeview-node__root {
  min-height: 36px;
}

.v-application .blue--text {
  color: #cb2390!important;
  caret-color: #cb2390!important;
}

section .dashboard .file .body {
  padding: 18px;
}

textarea, select, input[type=text],input[type=email],input[type=password],  button {
  outline: none;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
}

input[type=text]:focus, input[type=email]:focus,input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 0 #9ecaed;
}


html,body{
  background: #252526;
}


h1{
  color: #fff;
  font-size: 3rem;
  margin-bottom: 20px;
  line-height: 4rem;

}

.contenuti{
  @include contenuti();
  @include marginBottom('big');
}


body{
  font-size: 1.2rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #ffffff;
}

div.modal{
  background: #333333;
  padding: 30px;

  .h1_user{
    display: flex;
    justify-content: space-between;
    align-items: center;

    i{
      display: none;
    }
  }


  .form-user{
    display: none;

  }

  .user-list-module{
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    li{
      border: 1px solid rgba(#fff, .4);
      text-align: center;
      padding: 10px;
      > i.fa-user, > i.fa-user-crown{
        display: block;
        font-size: 50px;
        margin-bottom: 20px;

      }

      .info_user{

        padding: 5px;
        background: rgba(#fff, .1);
        display: flex;
        justify-content: space-between;
        align-items: center;

        > i.fa-trash-alt{
          display: inline-block;
          font-size: 20px;
          margin-left: 20px;

        }

      }
    }
  }




}



header{
  width: 100%;
  background: #333333;
  display: flex!important;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;

.version{
  position: absolute;
  top: 63px;
  font-size: 10px;
  left: 180px;
}

  .search{
    display: flex;
    align-items: center;



    input{
      order: 1;
      background: transparent;
      border: 0;
      line-height: 40px;
      border-bottom: 1px solid #adadad;
      color: #adadad;
      transition: all 0.5s ease;
      width: 200px;

      &:focus{
        width: 300px;
        transition: all 0.5s ease;
        border-bottom: 1px solid #d10071;

      }
      &::placeholder {
        color: #adadad;
      }
    }

    i{
      order: 2;
      color: #d10071;
      font-size: 2rem;
      margin-left: 20px;
    }
    i.fa-search{
      order: 2;
    }
    i.fa-circle{
      order: 3;
      margin-left: 20px;

    }
    i.fa-sign-out{
      order: 4;
    }



  }

}

section{
  padding: 104px 20px 0;
  display: flex!important;
  justify-content: space-between;

  .col_sx{
    height: calc(100vh - 104px);
    overflow-y: auto;
    width: 30%;
  }



  .lista_utenti {
    height: calc(100vh - 104px);
    overflow-y: auto;
    width: calc(20% - 20px);
  }


    .dashboard{
    height: calc(100vh - 104px);
    overflow-y: auto;
    width: calc(50% - 20px);

      .lista-controls{
        text-align: left;
        li{
          display: inline-block;
          border: 2px solid #d10071;
          line-height: 30px;
          padding: 0 20px;
          text-transform: uppercase;
          background: #333333;
          cursor: pointer;
        }
      }


      .console {
        height: calc(100vh - 314px);
        background: #333333;
        flex-direction: column;
        padding: 20px;
        justify-content: space-between;
        display: flex;

        .body {
          background: rgba(#fff, .1);
          width: 100%;
          height: 100%;
          overflow-y: auto;
          padding: 20px;
        }

      }


      .file{
        height: calc(100vh - 314px);
        background: #333333;
        padding: 20px;
        justify-content: space-between;
        display: flex;

        .body{
          background: rgba(#fff, .1);
          width: 100%;
          height: 100%;
          overflow-y: auto;
          padding: 20px;
        }


      }





    .timeline{
      height: calc(100vh - 314px);
      background: #333333;
      flex-direction: column;
      padding: 20px;
      justify-content: space-between;
      display: flex;



      .body{
        background: rgba(#fff, .1);
        width: 100%;
        height: 80%;
        overflow-y: auto;
        padding: 20px;
      }

      .write{
        background: rgba(#fff, .1);
        width: 100%;
        height: 10%;

        display: flex;

        input[type=text],input[type=email],input[type=password],textarea{
          width: 90%;
          border: 0;
          background: transparent;
          color: #fff;
          padding: 10px;


        }
        input[type=button]{
          width: 10%;
          background: #d10071;
          border: 0;
          color: #fff;
          text-transform: uppercase;

        }

      }
    }


  }

  .intro{
    background: #333333;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    border-bottom: 4px solid #d10071;

    i{
      color: #d10071;
      font-size: 3rem;
      margin-right: 20px;
    }

    .inner{
      h1{
        color: #fff;
        font-size: 2rem;
        margin-bottom: 0;
        line-height: 3rem;

      }
      .content{
        color: #fff;
        @include contenuti();
      }
    }
  }

.lista-console{
    li {
    display: flex;
    position: relative;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    color: #000;
    border-radius: 5px;

      &.upload{
        background: #ffffdf;
      }

      &.error{
        background: #ffdfdf;
      }

      strong{
        font-weight: bold;
        margin-right: 10px;
      }
    }

  }



.lista-histories{


  li{

    display: flex;
    position: relative;
    margin-bottom: 70px;

    .wrapper{


    border-radius: 5px;
    padding: 10px;
    width: 60%;
    background: rgba(#fff, 1);
    margin-left: 60px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-top-color: rgba(#fff, 1);
        border-bottom: 0;
        border-left: 0;
        margin-right: -7.5px;
        margin-bottom: -15px;
        left: 20px;
      }




    span {
      display: block;
      color: #333;

      &.data {
        font-style: italic;
        margin-bottom: 10px;
      }

      &.user {
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 10px;
      }

      &.vers {
        text-align: right;
      }

      }


      i{
        position: absolute;
        left: calc(100% + 20px);
        font-size: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .avatar{
      background-size: cover;
      background-position: center center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0 auto;
      border: 1px solid #fff;
      margin: 0;
      position: absolute;
      left: 10px;
      bottom: -50px;

      i{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
      }


    }


    &.my{

      justify-content: flex-end;

      .wrapper{
        margin-left: 0;
        margin-right: 60px;

        i{
          position: absolute;
          left: auto;
          right: calc(100% + 20px);
          font-size: 20px;
          top: 50%;
          transform: translateY(-50%);
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 0;
          height: 0;
          border: 15px solid transparent;
          border-top-color: rgba(#fff, 1);
          border-bottom: 0;
          border-right: 0;
          margin-left: -7.5px;
          margin-bottom: -15px;
          left: auto;
          right: 20px;
        }
      }


      .avatar{
        left: auto;
        right: 10px;
        bottom: -50px;
      }


    }

    &.center{

      justify-content: center;



      .wrapper{
        margin-left: 0;
        margin-right: 0;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 0;
          border: 15px solid transparent;
          border-top-color: rgba(#fff, 1);
          border-bottom: 0;
          margin-left: -15px;
          margin-bottom: -15px;
        }

      }

      .avatar{
        left: 50%;
        right: auto;
        bottom: -70px;
        transform: translate(-50%, 0);
      }

    }



  }

}



  .user-list{
    list-style-type: disc;
    > li{
      background: #333333;
      padding: 10px;
      position: relative;
      font-size: 1.5rem;
      display: flex;
      align-items: center;

      .avatar{
        background-size: cover;
        background-position: center center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #fff;
        margin-right: 20px;
        position: relative;




        i{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 20px;
        }
      }


      .now{
        font-size: 11px;
      }





    }
  }







  .project-list{
    > li{
      background: #333333;
      margin-bottom: 10px;
      padding: 10px;
      position: relative;


      &.update{
        border-right: 15px solid #74975c;
      }

      &.not-update{
        border-right: 15px solid #cf597b;
      }



      .wrapper{

        display: flex;
        align-items: center;
        margin-bottom: 10px;
        cursor: pointer;



        i{
          color: #d10071;
          font-size: 3rem;
          margin-right: 20px;
        }
        > a.state{
          position: absolute;
          right: 20px;
          top: 20px;
          i{
            font-size: 2rem;
          }
        }





        .inner{
            flex-grow: 1;
          .flex{
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          h1{
            color: #fff;
            font-size: 2rem;
            margin-bottom: 0;
            line-height: 3rem;
          }

        }













      }



      h2{
        color:rgba(#fff, .3);
        font-size: 1.2rem;
        margin-bottom: 10px;
        width: 100%;
        overflow-x: hidden;

        &:before{
          content: '\f07b';
          font-family: "Font Awesome 5 Pro";
          font-weight: 300;
          margin-right: 10px;
          cursor: pointer;
        }
      }










    }
  }



}






.div_project_list{
    background: #333333;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    position: relative;


    &.update{
      border-right: 15px solid #74975c;
    }

    &.not-update{
      border-right: 15px solid #cf597b;
    }




    i{
      color: #d10071;
      font-size: 3rem;
      margin-right: 20px;
    }
    > a.state{
      position: absolute;
      right: 20px;
      top: 20px;
      i{
        font-size: 2rem;
      }
    }




    .inner{
      flex-grow: 1;

      .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      h1{
        color: #fff;
        font-size: 2rem;
        margin-bottom: 10px;
        line-height: 3rem;
      }

      h2{
        color: #fff;
        font-size: 1.6rem;
        margin-bottom: 10px;
      }


      .content{
        color: #fff;
        @include contenuti();


        ul{
          margin-top: 20px;
          display: flex;
          li{
            i{
              font-size: 3rem;
            }
          }
        }


      }





    }



  }














.form-element{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;

  label{
    @include contenuti();
  }
  input[type=checkbox]{
    margin-right: 55%;

  }

  #avatar_img{
    background-size: cover;
    background-position: center center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid #fff;
  }

  .btn-small{
    line-height: 30px;
    padding: 0 15px;
  }

  input[type=text],input[type=email],input[type=password], select, textarea{
    order: 1;
    background: transparent;
    border: 0;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #adadad;
    color: #adadad;
    transition: all 0.5s ease;
    width: 60%;
    border-radius: 0;
    -webkit-appearance: none;

    &:focus{
      transition: all 0.5s ease;
      border-bottom: 1px solid #d10071;

    }
    &::placeholder {
      color: #adadad;
    }
  }

  textarea{
    line-height: 14px;
    height: 100px;
  }


}

.form-button{
  padding: 20px 0;
  cursor: pointer;

}


.btn-form{
  @include btn(auto);
}

.visible{
display: inline-block;
}

.lvisible{
display: block;
}


.not-visible{
  display: none;
}


.loading{
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  background: rgba(#333, .5);

  .perc{
    position: absolute;
    left: 50%;
    top: calc(50% + 17px);
    transform: translate(-50%, -50%);
    font-size: 33px;
  }
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sk-folding-cube {
  margin: 20px auto;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;

  -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
  transform: translate(-50%, -50%) rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d10071;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
}


.lista_file_watch{
  li{
    border: 1px solid rgba(#fff, .4);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    i{
      font-size: 30px;
    }
  }
}

.watching{
  color:#f2f;
  -webkit-animation: flash linear 1s infinite;
  animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% { opacity: 1; }
}
@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% { opacity: 1; }
}

.mb40{
  margin-bottom: 40px;
}

#login{
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border: 1px solid rgba(255,255,255,.4);
  padding: 20px;
}


#messagesBlock{
  position: fixed;
  z-index: 10;
  right: 10px;
  bottom: 10px;

  ul{
    li{

      background: #fff;
      margin-bottom: 10px;
      padding: 10px;
      color: #fff;

      &.success{
        background: #0d8000;
      }

      &.error{
        background: #CC0023;
      }



      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.listCompoment{
  padding: 104px 20px 0;

  .intro{
    background: #333333;
    padding: 10px;
    display: flex;
    border-bottom: 4px solid #d10071;

    i{
      color: #d10071;
      font-size: 3rem;
      margin-right: 20px;
    }

    .inner{
      h1{
        color: #fff;
        font-size: 2rem;
        margin-bottom: 0;
        line-height: 3rem;

      }
      .content{
        color: #fff;
        @include contenuti();
      }
    }
  }

}


.cubepackModal{
  .v-dialog__content{
    z-index: 1000!important;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.transitiondetail-enter-active, .transitiondetail-leave-active {
  transition: opacity .5s;
}
.transitiondetail-enter, .transitiondetail-leave {
  opacity: 0;
}

.theme--dark.v-data-table thead tr th, .v-data-table td {
  vertical-align: middle;
}